/dts-v1/;

#include "aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "USI Purly BMC";
	compatible = "usi,purly-bmc", "aspeed,ast2500";

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,115200 earlyprintk";
	};

	memory {
		reg = <0x80000000 0x20000000>;
	};
	
	leds {
		compatible = "gpio-leds";

		m-cpu000-led {
			gpios = <&pca0 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu001-led {
			gpios = <&pca0 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu010-led {
			gpios = <&pca0 2 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu011-led {
			gpios = <&pca0 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu020-led {
			gpios = <&pca0 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu021-led {
			gpios = <&pca0 5 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu030-led {
			gpios = <&pca0 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu031-led {
			gpios = <&pca0 7 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu040-led {
			gpios = <&pca0 8 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu041-led {
			gpios = <&pca0 9 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu050-led {
			gpios = <&pca0 10 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu051-led {
			gpios = <&pca0 11 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu100-led {
			gpios = <&pca0 12 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu101-led {
			gpios = <&pca0 13 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu110-led {
			gpios = <&pca0 14 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu111-led {
			gpios = <&pca0 15 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu120-led {
			gpios = <&pca1 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu121-led {
			gpios = <&pca1 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu130-led {
			gpios = <&pca1 2 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu131-led {
			gpios = <&pca1 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu140-led {
			gpios = <&pca1 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu141-led {
			gpios = <&pca1 5 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu150-led {
			gpios = <&pca1 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		m-cpu151-led {
			gpios = <&pca1 7 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		1u-fan0-led {
			gpios = <&pca2 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		1u-fan1-led {
			gpios = <&pca2 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		1u-fan2-led {
			gpios = <&pca2 2 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		1u-fan3-led {
			gpios = <&pca2 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		
		1u-fan4-led {
			gpios = <&pca2 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		
		1u-fan5-led {
			gpios = <&pca2 5 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		
		1u-fan6-led {
			gpios = <&pca2 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		
		2u-fan0-led {
			gpios = <&pca2 8 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		
		2u-fan1-led {
			gpios = <&pca2 9 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		
		2u-fan2-led {
			gpios = <&pca2 10 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		2u-fan3-led {
			gpios = <&pca2 11 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		
		2u-fan4-led {
			gpios = <&pca2 12 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		
		2u-fan5-led {
			gpios = <&pca2 13 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		
	};	


};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
#include "openbmc-flash-layout.dtsi"
	};
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;

	flash@0 {
		status = "okay";
		label = "pnor";
		m25p,fast-read;
	};
};

&spi2 {
	status = "okay";
};

&uart5 {
	status = "okay";
};

&mac0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default &pinctrl_mdio1_default>;
	use-ncsi;
};

&mac1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;
	use-ncsi;
};

&i2c0 {
	status = "okay";

	pca0: pca9555@21 {
		compatible = "nxp,pca9555";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x21>;
	};
	pca1: pca9557@1e {
		compatible = "nxp,pca9557";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x1e>;
	};
	pca2: pca9555@22 {
		compatible = "nxp,pca9555";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x22>;
	};
	tmp75@4e {
		compatible = "ti,tmp75";
		reg = <0x4e>;
	};
};

&i2c1 {
	status = "okay";

	tmp75@4d {
		compatible = "ti,tmp75";
		reg = <0x4d>;
	};

};

&i2c2 {
	status = "okay";

};

&i2c3 {
	status = "okay";

};

&i2c4 {
	status = "okay";

};

&i2c5 {
	status = "okay";

};

&i2c6 {
	status = "okay";

	i2c-switch@70 {
		compatible = "nxp,pca9545";
		reg = <0x70>;
		i2c-mux-idle-disconnect = "true";

	};
};

&i2c7 {
	status = "okay";

	i2c-switch@76 {
		compatible = "nxp,pca9546";
		reg = <0x76>;
		i2c-mux-idle-disconnect = "true";

	};

};

&i2c8 {
	status = "okay";

};

&i2c9 {
	status = "okay";

};

&i2c10 {
	status = "okay";

};

&i2c11 {
	status = "okay";

};

&i2c12 {
	status = "okay";

};

&i2c13 {
	status = "okay";

};


&gfx {
	status = "okay";
};

&pinctrl {
	aspeed,external-nodes = <&gfx &lhc>;
};

&wdt2 {
	status = "okay";
};
